.jumbotron {
  text-align: center;
  background-color: cadetblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  border-bottom: solid black 2px;
}

.main {
  border: blue solid 2px;
  display: flex;
  justify-content: center;
}

.box {
  border: green solid 2px;
  height: 300px;
  width: 40%;
  margin: 1%;
  position: relative;
  border-radius: 5%;
}

.title-box {
  display: flex;
  justify-content: center;
  background-color: rgb(100, 139, 211);
  height: 35%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.details {
  display: block;
  justify-content: center;
  margin: 5%;
}